<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171957344654-2q29h1vsqi46tr1c44lbmh4rlt4s05n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171957344654-2q29h1vsqi46tr1c44lbmh4rlt4s05n6</string>
	<key>API_KEY</key>
	<string>AIzaSyDVZvgjAwg-vb8wMbFEpK1QRERG8O6iQAE</string>
	<key>GCM_SENDER_ID</key>
	<string>171957344654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PoshacoAppMobile</string>
	<key>PROJECT_ID</key>
	<string>poshaco-e60f4</string>
	<key>STORAGE_BUCKET</key>
	<string>poshaco-e60f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171957344654:ios:70b5ee911bbebcb0e9ecdf</string>
	<key>DATABASE_URL</key>
	<string>https://poshaco-e60f4.firebaseio.com</string>
</dict>
</plist>